.svn
target
/trust-agent/PrivacyCA/bin
.settings
.project
.classpath
*.class
*.class
*.class
*.class
*.class
*.class
*.class
*.class
*.class
*.class
*.class
*.class
*.class
*.class
*.class
*.class
*.class
