<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>
		HisPrivacyCAWebServices2
	</display-name>

	<listener>
		<listener-class>
			com.sun.xml.ws.transport.http.servlet.WSServletContextListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>jaxWsServlet</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>ClientFilesServlet</servlet-name>
		<servlet-class>
			com.intel.mountwilson.files.ClientFilesServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>HisPrivacyCAWebServices2LoadOnStartup</servlet-name>
		<servlet-class>
			gov.niarl.his.webservices.hisPrivacyCAWebService2.server.HisPrivacyCAWebServices2LoadOnStartup
		</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jaxWsServlet</servlet-name>
		<url-pattern>
			/hisPrivacyCAWebService2
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jaxWsServlet</servlet-name>
		<url-pattern>
			/hisPrivacyCAWebService2FactoryService
		</url-pattern>
	</servlet-mapping>

        <servlet-mapping>
		<servlet-name>ClientFilesServlet</servlet-name>
		<url-pattern>
			/clientfiles.zip
		</url-pattern>
	</servlet-mapping>
</web-app>