<configuration>

    <appender name="LogFile" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/trustagent/trustagent.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ConsoleError" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <!--
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%boldRed(Error: %msg) %n</pattern>
        </encoder>
    </appender>
    <appender name="ConsoleWarn" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%boldYellow(Warning: %msg) %n</pattern>
        </encoder>
    </appender>
    <appender name="ConsoleInfo" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LogFile"/>
        <appender-ref ref="ConsoleError"/>
        <appender-ref ref="ConsoleWarn"/>
        <appender-ref ref="ConsoleInfo"/>
    </root>
    
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="org.apache.shiro" level="INFO"/>
    <logger name="org.apache.commons" level="INFO"/>
    <logger name="com.intel.dcsg.cpg" level="INFO"/>
    <logger name="com.intel.dcsg.cpg.console" level="INFO"/>
    <logger name="com.intel.dcsg.cpg.configuration" level="INFO"/>

</configuration>

