<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

<context-param>
    <param-name>shiroEnvironmentClass</param-name>
    <param-value>com.intel.mtwilson.shiro.env.LocalIniWebEnvironment</param-value>
</context-param>

    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    
    <!-- required for signature-based authentication schemes -->
    <filter>
        <filter-name>RepeatableRequestFilter</filter-name>
        <filter-class>com.intel.mtwilson.servlet.RepeatableRequestFilter</filter-class>
    </filter>
    
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>RepeatableRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Filter all web requests.  This filter mapping is typically declared
        before all others to ensure any other filters are secured as well: -->
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>


    <servlet>
        <servlet-name>Jersey2</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.intel.mtwilson.jersey2.Jersey2Application2</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.mediaTypeMappings</param-name>
            <param-value>txt:text/plain, xml:application/xml, json:application/json, jsonapi: application/vnd.api+json, html:text/html, saml:application/saml+xml, bin:application/octet-stream, yaml:text/yaml, pem:application/x-pem-file, cer:application/pkix-cert, crt:application/pkix-cert, enc:message/rfc822</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.languageMappings</param-name>
            <param-value>en:en</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey2</servlet-name>
        <url-pattern>/v2/*</url-pattern>
    </servlet-mapping>

    
    <!--
    <servlet>
        <servlet-name>Html5</servlet-name>
        <servlet-class>com.intel.mtwilson.servlet.FileServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Html5</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
    -->
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <mime-mapping>
        <extension>json</extension>
        <mime-type>application/json</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>jsonapi</extension>
        <mime-type>application/vnd.api+json</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>yaml</extension>
        <mime-type>application/yaml</mime-type>
    </mime-mapping>

</web-app>
