[Unit]
Description=tss2 resource manager
After=syslog.target

[Service]
ExecStart=/usr/local/sbin/resourcemgr $RESOURCED_OPTS

[Install]
WantedBy=multi-user.target
Alias=tss2resourced.service
