<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WLMLoaderTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <WLMLoaderTool.Properties.Settings>
      <setting name="DB_Connection_String" serializeAs="String">
        <value>SERVER=localhost;PORT=3306;DATABASE=mw_as;UID=root;PWD=password</value>
      </setting>
      <setting name="UpdateDB" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportFolder" serializeAs="String">
        <value>C:\temp\reports\</value>
      </setting>
      <setting name="BIOS_MLE_PCR_List" serializeAs="String">
        <value>0,17</value>
      </setting>
      <setting name="VMM_MLE_PCR_List" serializeAs="String">
        <value>18,19,20</value>
      </setting>
      <setting name="UpdateLocationMapping" serializeAs="String">
        <value>False</value>
      </setting>
    </WLMLoaderTool.Properties.Settings>
  </applicationSettings>
</configuration>