<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<!--
    <filter>
        <filter-name>AuthorizationExceptionFilter</filter-name>
        <filter-class>com.intel.mtwilson.shiro.AuthorizationExceptionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroExceptionHandler</filter-name>
        <url-pattern>/resources/*</url-pattern>
    </filter-mapping>
-->
    <listener>
        <description>Cleans up Persistence factory.</description>
        <listener-class>com.intel.mtwilson.as.ASPersistenceManager</listener-class>
    </listener>
    <servlet>
        <servlet-name>Jersey1</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>com.sun.jersey.api.container.filter.PostReplaceFilter,com.intel.mtwilson.as.helper.ASAuthenticationFilter,com.intel.mtwilson.audit.helper.AuditJerseyRequestFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>com.intel.mtwilson.as.helper.ASLocalizationFilter,com.intel.mtwilson.audit.helper.AuditJerseyResponseFilter</param-value>
        </init-param>
        <!--
        <init-param>
            <param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>
            <param-value>com.intel.mtwilson.security.jersey.RolesAllowedResourceFilterFactory</param-value>
        </init-param>
        -->
        <!--
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.intel.mtwilson.util</param-value>
        </init-param>
        -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey1</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--
    <listener>
        <description>Configuration management</description>
        <listener-class>com.intel.mtwilson.as.helper.ASConfiguration</listener-class>
    </listener>
    -->
    <!--
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
-->
</web-app>
