body, td, select, input, li{
  font-family: Calibri, Helvetica, Arial, sans-serif;
  font-size: 13px;
}
#banner {
  height: 80px;
  background: url(../images/logos/intel-transparent-103x74.png) right center no-repeat;
  border-bottom: 1px solid #fff;
  color: #FCFCFC;
  background-color: #16069E;
}
#bannerLeft, #bannerRight {
  padding-left: 10px;
  padding-right: 10px;
  height: 80px;
  line-height: 80px;  
  font-weight:bold;
}
h2 {
  color: #ECECEC;
  background-color: #16069E;
  font-weight:bold;
}
