<configuration>

  <property name="USER_HOME" value="/usr/share/glassfish3/glassfish/domains/domain1/logs" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>/tmp/ta.log</file>
    <append>true</append>
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="Logger" class="ch.qos.logback.core.FileAppender">
    <file>${USER_HOME}/server.log</file>
    <append>true</append>
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>
  
      
  <root level="DEBUG">
    <appender-ref ref="FILE" />
	<appender-ref ref="Logger" />
  </root>
</configuration>

