@CHARSET "ISO-8859-1";

/*-------------------------------------- DEFAULTS----------------------------------------------------------*/

body {
    background: none repeat scroll 0 0 #B6B7BC;
    color: #696969;
    font-family: "Helvetica Neue","Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    min-height: 768px;
    min-width: 1024px;
}

textarea{
	resize:none;
	
}
a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

a{
cursor: pointer;	
}

/*--------------------------------- TAB MENU ---------------------------------------------*/

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;       
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;    
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

.labelPageTitle
{
    color:#0D4C8C;
    font-size: x-large;   
}

/*---------------------------------- Others---------------------*/

.title {
    float: left;    
   /*Start Below message is changed by Soni  as per email on Fri 9/14/2012 10:21 AM  for Header Consistency */
    /*width: 100%;*/
    /*Stop Below message is changed by Soni  as per email on Fri 9/14/2012 10:21 AM r Header Consistency */
}

.header
{
    background: #4b6c9e;
    width: 100%;
    height: 90px;    
}

.header h1
{
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    line-height: 2em;
    font-size: 2em;
}
.mainHeader{
	margin-bottom: 20px;
}

div.hideSkiplink {
    background-color: #3A4F63;
}

.loginDisplay
{
    float: right;
    font-size: 1.1em;
    text-align: center;
    padding: 10px;
    color: White;
    height: 0px;
}

.loginDisplay span
{
    margin-right:40px;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.clear
{
    clear: both;
}

.page {
    background-color: #FFFFFF;
    border: 1px solid #496077;
    margin: 20px auto 0;
    width: auto;
}

/*-----------MenuBar additional-----------*/
.ui-menubar-item{
	float: left;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    font-variant: small-caps;
    text-transform: none;
    /*font-weight: 200;*/
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
    width: 613px;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT */

.main {
    min-height: 850px;
    background: white;
    width: 100%;
}
.footer
{
    background: none repeat scroll 0 0 #4B6C9E;
    color: #F9F9F9;
    margin: 0 auto;
    min-height: 90px;
    padding: 8px 0 0;
    text-align: center;
}


/* ---------- Class for main container ------------- */

.container{
	padding-left: 25px;
    padding-top: 15px;
    padding-right: 25px;
}

.nagPanel{
	color: #3A4F63;
    font-size: small;
    font-weight: bold;
    padding-bottom: 12px;
}

.NameHeader{
	color: #4B6C9E;
    font-size: x-large;
    height: 50px;
    width: auto;
}

.tableDisplayBind{
	color: #3A4F63;
	text-align: center;
	width: 100%;
        height:500px;
            /* Removed the column height so as to allow the resize automatically */
	/* height: 40px; */
        table-layout: fixed;
	}
.tableDisplayScroll_small { 
    overflow-x: hide; 
    overflow-y: scroll; 
    height:250px; 
    width: 635px;
}

.tableDisplayScroll_big { 
    overflow-x: hide; 
    overflow-y: scroll; 
    height:500px; 
    width: 850px;
}

.tableDisplayBind thead{
	background-color: #3A4F63;
    color: White;
    font-weight: bold;
}

.tableDisplayBind tr td{
    border: 1px solid #3A4F63;
    empty-cells: show;
     overflow: hidden;
     word-wrap: break-word;
}

.tableDisplay{
	color: #3A4F63;
	text-align: center;
	width: 100%;
            /* Removed the column height so as to allow the resize automatically */
	/* height: 40px; */
        table-layout: fixed;
	}
        
.tableDisplay thead{
	background-color: #3A4F63;
    color: White;
    font-weight: bold;
}
.tableDisplay tr td{
    border: 1px solid #3A4F63;
    empty-cells: show;
     overflow: hidden;
     word-wrap: break-word;
}


.tableBorderClass tr td{
    border: 1px solid #3A4F63;
    empty-cells: show;
    word-wrap: break-word;
}
.tableBorderClass tr th{
    border: 1px solid #3A4F63;
    empty-cells: show;
    word-wrap: break-word;
}

/* Commented out the MLE specific table settings since it was causing scroll bars.
.tableDivMLE{
	width: 1000px;
   max-height: 350px;
}
.tableDivMLE table{
	border: 1px solid #3A4F63;
}
.tableDivMLE table tr{
	height: 25px;
}

.tableDivEditMle{
    max-height: 330px;
    width: 870px; *
} */


.tableDiv{
   max-height: 330px;
    width: 650px;
}

.tableDiv table{
	border: 1px solid #3A4F63;
}

.tableDiv table tr{
	height: 28px;
}

.tableDivPref{
    max-height: 330px;
    width: 650px;
    /*border: 1px solid #3A4F63;*/
    height: 28px;
}

.mainTableContant{
	width: 100%;
	max-height: 454px;
	overflow: auto;
	
}

.mainTableContant table tr{
	height: 45px;
}

.evenRow{
	background-color:#D8D8D8;
}
.oddRow{
	background-color:white;
}

.registerHostRow1{width: 95px;}
.registerHostRow2{width: 60px;}
.registerHostRow3{width: 177px;}
.registerHostRow4{width: 80px;}
.registerHostRow5{width: 280px;}  
.registerHostRow6{width: 240px;}
.registerHostRow6Header{width: 240px;}
.registerHostRow5Sub{width: 140px;}

.tableDivMLE .row1{width: 80px;}
.tableDivMLE .row2{width: 80px;}
.tableDivMLE .rowv{width: 140px;}
.tableDivMLE .row3{width: 80px;}
.tableDivMLE .row4{width: 80px;}
.tableDivMLE .rowr1{width: 100px;}
.tableDivMLE .rowr2{width: 120px;}
.tableDivMLE .rowr3{width: 170px;}
.tableDivMLE .rowr4{width: 130px;}
.tableDivMLE .rowr5{width: 100px;}
.tableDivMLE .rowr6{width: 65px;}
.tableDivMLE .rowr7{width: 90px;}

/*.row1{width: 20px;}
.row2{width: 80px;}
.row3{width: 175px;}
.row4{width: 80px;}
.row5{width: 300px;} 
.row6{width: 120px;}
.row7{width: 90px;}
.row8{width: 90px;}
.row9{width: 170px;}
.row10{width: 110px;}
.row11{width: 50px;}
.row5Sub{width: 150px;}*/

.row1{width: 20px;}
.row2{width: 80px;}
.row3{width: 50px;}
.row4{width: 55px;}
.row5{width: 60px;}
.row6{width: 75px;}
.row7{width: 75px;}
.row8{width: 80px;}
.row9{width: 100px;}
.row10{width: 90px;}
.row11{width: 65px;}
.row12{width: 210px;}
.rowHelp{width:50px; }

/*.row12{width: 50px;}*/

.manifestModuleTypeRow1{width: 144px;}
.manifestModuleTypeRow2{width: 160px;}
.manifestModuleTypeRow3{width: 115px;}
.manifestModuleTypeRow4{width: 65px;}
.manifestModuleTypeRow5{width: 65px;}
.manifestModuleTypeRow6{width: 75px;}

.manifestModuleTypeTableHeader{
    table-layout: fixed;
    text-align: center;
    width: 98%;
}

.manifestModuleTypeTableHeader thead{
/*    background-color: #6E3F4A;*/
    color: White;
    font-weight: bold;
}

.manifestModuleTypeTableContent{
    text-align: center;
    overflow: auto;
    max-height: 461px;
}
.manifestModuleTypeTableContent table{
    table-layout: fixed;
}
.manifestModuleTypeTableContent tr td{
    border: 1px solid #3A4F63;
    empty-cells: show;
    word-wrap: break-word;
}

/* Class for View Pending Registration page */
.viewRequestRow1{width: 412px;}
.viewRequestRow2{width: 413px;}
.viewRequestRow3{width: 120px;}
.viewRequestRow3Header{width: 140px;}

/* Class for Delete request Registration page and Extend Request page */
.deleteRequestRow1{width: 357px;}
.deleteRequestRow2{width: 230px;}
.deleteRequestRow3{width: 189px;}
.deleteRequestRow4{width: 169px;}
.deleteRequestRow4Header{width: 189px;}


/* Class for View Host page */
.vh_viewRow1{width: 100px;}
.vh_viewRow2{width: 100px;}
.vh_viewRow3{width: 50px;}
.vh_viewRow4{width: 70px;}
.vh_viewRow5{width: 50px;}
.vh_viewRow6{width: 150px;}
.vh_viewRow7{width: 60px;}
.vh_viewRow8{width: 70px;}
.vh_viewRow9{width: 100px;}
.vh_viewRow10{width: 70px;}

/* Class for View Request page */
.viewRow1{width: 260px;}
.viewRow2{width: 120px;}
.viewRow3{width: 231px;}
.viewRow4{width: 150px;}
.viewRow5{width: 180px;}
.viewRow5Header{width: 200px;}

.imageClass{
	
}

.tableButton{
	width: 67%;
}

.requiredField{
	color: red;
	float: left;
	font-size: small;
	margin-left: 4px;
}
.errorMessage{
	color: red;
	float: left;
	font-size: small;
	margin-left: 5px;
}
.successMessage{
	color: green;
}
#messageSpace{
	margin: 10px;
}
.button{
	margin-right: 8px;
	font-size: 14px;
}

.dataTableMle{
	/*width: 550px;*/
	font-size: medium;
    font-weight: inherit;
    margin-left: 61px;
    color: black;
	
}

.manifestListClass{
	max-height: 200px;
	margin-top: 25px;
}

.singleDiv{
	/*height: 28px;*/
	margin-top: 10px;
	height: 28px;
    width: 100%;
}
.singleDivConfig{
	/*height: 28px;*/
	height: 30px;
    margin-top: 14px;
    width: 100%;
}
.labelDiv{
	width: 200px;
	padding-right: 20px;
	float: left;
}
.labelDivConfig{
	width: 180px;
	padding-right: 25px;
	float: left;
}
.labelDivgkv{
	width: 250px;
	padding-right: 20px;
	float: left;
}
.valueHintDiv{
	margin-left: 200px;
	padding-left: 20px;
    padding-bottom: 10px;
}

.dropDown{
	height:20px;width:258px;
}
.inputs{
	width:258px;
	float: left;
}
.textInfo{
	font-weight: bold;
	font-size: small;
}

.manifestListClass{
	height: 200px;
	margin-top: 25px;
}
.disabledDiv{
	min-width: 965px;
	height: 540px;
	z-index: 2;
	position: absolute; 
	opacity:0.6;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	text-align: center;
	background-image: url("../images/blankImage.jpg");
	width: 90%
}

.textBox_Border{
	border: 1px solid #7A5660;
	width: 300px;
	height: 20px;
}

.textBox_special_small{
	border: 1px solid #7A5660;
	width: 395px;
	height: 20px;
}

.ddlBox_Border{
    border: 1px solid #7A5660;
    width: 503px;
    height: 24px;
    float: left;
}

.ddlBox_small_Border{
    border: 1px solid #7A5660;
    width: 100px;
    height: 24px;
    float: left;
}

.uploadButton{
	float: left;
	margin-right: 5px;
}
.uploadForm{
	float: left;
}
.subLabelDivgkv{
text-align: center;	
}
.subSingleDiv{
	font-size: small;
    margin-top: 2px;
    height: 25px;
}
/*class for help dialog pcr div*/

.pcrDivHelp{
	margin-top: 10px;
}


/* --------------- class specific  for Demo Portal --------*/
/*.mainTableDiv{
	color: black;
    height: 500px;
    padding-left: 35px;
    text-align: center;
    width: 93%;
}*/

.mainTableDiv{
	color: black;
    height: 500px;
   /*  padding-left: 35px; */
    /* text-align: center; */
    /* width: 985px; */
    /* Soni_Begin_02/10/2012_issue_table aligned at the left  */
    /*float: left;*/
    float: center;
      /* Soni_End_02/10/2012_issue_table aligned at the left  */
}

.mainTableDisplayDiv{
    min-width: 1030px;
}

.mainTableDisplayDiv table{
	 table-layout: fixed; 
}

.mainTableDisplayDiv table tr td{
	word-wrap: break-word;
}

.subTableDiv{
	padding-bottom: 5px;
    padding-left: 25px;
    padding-top: 6px;
    width: 85%;
}

.subTableDiv table tr{
	height: 25px;
}

.textBoxClass{
	width:300px;
	height: 22px;
	border:1px solid #3A4F63;
}
.textAreaBoxClass{
	width:300px; 
	border: 1px solid #3A4F63;
        height: 35px;;
}

.getReportButton{
	margin-top: 20px;
	text-align: center;
}

.mainTableForReports{
	width: 850px;
}

.errorDiv{
	margin-top: 12px;
}

/*dialog classs*/

.ui-widget-content { border: 1px solid #dddddd; /*background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;*/ color: #333333; }
/*---------------------------------- Dialog----------------------------------*/
.ui-dialog { position: relative;  width: 300px; background-color: #496077;}
.ui-dialog .ui-dialog-titlebar {height: 29px; padding: .5em .3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em;font-size: medium;font-weight: bold; color: white;} 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -16px 0 0 0; padding: 1px; height: 18px;padding: 0;font-size: large;color: black; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px;}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background-color: white; overflow: initial;}
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none;/* margin: .5em 0 0 0; */padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; /*padding: .2em .6em .3em .6em;*/ line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
/* Overlays */
.ui-widget-overlay { background: #666666 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.dialogClass{
	font-size: 13px;
}

.edit_textbox{
	border: 1px solid #3A4F63;
}

/*.requiredField{
	color: red;
	float: left;
	font-size: small;
	margin-left: 4px;
        display:inline-block;
	width:10px;
}*/

#moduleTypeAttestationMez{
	font-size: 12px;
	color: black;
	margin-left: 40px;
	font-weight: bold;
	margin-top: 35px;
	margin-bottom: 5px;
}

#mainContainerForWhiteList{
    overflow: auto;
}

.whiteListSingleDiv{
    height: 10px;
    margin-top: 10px;
    width: 600px;
}

/*Class for White List Configuration page*/
.mainContainer{
	color: black;
}

.textBox_Border{
	width: 500px;
	height: 22px;
	float: left;
}
.registerHostTable{
	float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    min-width: 965px;
    text-align: center;
    width: 100%;
}

.registerHostTable table{
	 table-layout: fixed; 
}

.registerHostTable table tr td{
	border: 1px solid #3A4F63;
	height: 30px;
	word-wrap: break-word;
}
.tableHeader{
	background-color: #3A4F63;
	color: white;
}
.tableHeader tr td{
	font-weight: bold; 
}
.helpDiv{
	margin-top: 10px;
}
.registerHostTableContent{
            /* Bug 770: Do not want to restrict the height of the table*/
	/*max-height: 150px;*/
	overflow: auto;
}

.registerHostTableContent table tr td{
    height: 50px;
}
.requestDetailsTableContent{
	max-height: 402px;
	overflow: auto;
}

#retriveHostButton{
	float: left;
	margin-left: 10px;
}

#retrieveDatacentersButton{
	float: left;
	margin-left: 10px;
}

.requestedRolesDispaly{ 
	margin-right: 7px;
}
.requestedRoleHighlight {
    background-color: #FFFF00;
}
#successMessage{
	float: left;
    width: 100%;
}
.registerUser{
    font-size: 14px;margin-bottom: 12px;
}
.valueDivConfig{
	float: left;
	width: 25%;
}

.registerHostConfigDropDown{
	width: 80px;
}
.helperImageClass{
	padding-left: 6px;
}
.whiteListConfigDropDown{
	width: 150px;
}

.failureReportdiv{
	margin:20px 5px;
	text-align: center;
}

.failureReportRow1{width: 20px;}
.failureReportRow2{width: 100px;}
.failureReportRow3{width: 390px;}
.failureReportRow4{}

.subTableDivFailureReport{
	padding: 10px 15px;
	widows: 92%;
}

.subTableDivFailureReport table{
	border: 1px solid #4B6C9E;
}
.subTableDivFailureReport table thead{
	background-color: #708EAE;
	color: white;
}
.failureReportSubRow1{width: 390px;}
.failureReportSubRow2{width: 100px;}
.failureReportSubRow3{width: 390px;}

/* styles for tls policy forms */

form.tlsform fieldset {
  margin-bottom: 10px;
}
form.tlsform legend {
  padding: 0 2px;
  font-weight: bold;
}
form.tlsform label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}
form.tlsform fieldset ol {
  margin: 0;
  padding: 0;
}
form.tlsform fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
form.tlsform fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
form.tlsform fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
form.tlsform fieldset fieldset label {
  display: block;
  width: auto;
}
form.tlsform em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
form.tlsform label {
  width: 120px; /* Width of labels */
}
form.tlsform input[type='text'] {
    width: 300px;
}
form.tlsform textarea {
    width: 300px;
}
form.tlsform fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}

form.tlsform ol.tlspolicy-content {
  margin: 0;
  padding: 0;
}
form.tlsform ol.tlspolicy-content li {
  list-style: none;
  padding: 5px;
  margin: 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  width: 525px;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
form.tlsform ol.tlspolicy-content li:last-child {
  border-bottom: 1px solid black;
}
form.tlsform fieldset[data-policy-type] textarea.publickey-text {
    height: 55px;
    width: 300px;
}
form.tlsform fieldset[data-policy-type] label+textarea+button {
    float: right;
}
/*
form.tlsform .tlspolicy-certificate-list {
    width: 100%;
    overflow: auto;
}
*/
.tlspolicy-input-container textarea {
    width: 575px;
    height: 35px;
}
textarea#tlspolicy_copy_data_textarea {
    height: 125px;
    width: 450px;
}
