@CHARSET "ISO-8859-1";

/*-------------------------------------- DEFAULTS----------------------------------------------------------*/
/* Modified by Soni for Table Alignment issue --Start */
body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
    min-height:768px;
    min-width :1024px;
}

/* Modified by Soni for Table Alignment issue --Stop */
a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}



/*--------------------------------- TAB MENU ---------------------------------------------*/

div.hideSkiplink
{
    background-color:#522F37;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #6E3F4A;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
    
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

.labelPageTitle
{
    color:#522F37;
    font-size:x-large;   
}

/*---------------------------------- Others---------------------*/
.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #7A5660;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.clear
{
    clear: both;
}

.page {
    background-color: #FFFFFF;
    border: 1px solid #496077;
    margin: 20px auto 0;
    width: auto;
}

/*-----------MenuBar additional-----------*/
.ui-menubar-item{
	float: left;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    font-variant: small-caps;
    text-transform: none;
    /*font-weight: 200;*/
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
    width: 613px;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT */
.main
{
    /*padding: 0px 12px;
    margin: 12px 8px 8px 8px;*/
    height:665px;
    background: white;
}
.footer
{
    background: none repeat scroll 0 0 #7A5660;
    color: #F9F9F9;
    line-height: normal;
    margin: 0 auto;
    min-height: 90px;
    padding: 8px 0 0;
    text-align: center;
}


/* ---------- Class for main container ------------- */

.container{
	padding-top: 15px;
	margin-left: 25px;
}

.nagPanel{
	color: #522F37;
}

.NameHeader{
	color: #522F37;
    font-size: x-large;
    height: 50px;
    width: auto;
}

.tableDisplay{
	color: #333333;
	text-align: center;

	}
.tableDisplay thead{
	background-color: #6E3F4A;
    color: White;
    font-weight: bold;
}
.tableDisplay tr td{
    border: 1px solid #6E3F4A;
    empty-cells: show;
}
.tableDivMLE{
	width: 1000px;
   max-height: 350px;
}
.tableDivMLE table{
	border: 1px solid #6E3F4A;
}
.tableDivMLE table tr{
	height: 25px;
}
.tableDiv table{
	border: 1px solid #6E3F4A;
}

.tableDiv table tr{
	height: 28px;
}
/* .tableDivEditMle table{
	border: 1px solid #6E3F4A;
} */
/* .tableDivEditMleConatiner table{
	border: 1px solid #6E3F4A;
}
.tableDivEditMleConatiner table tr{
	height: 25px;
} */
.tableDiv{
   max-height: 330px;
    width: 650px;
}
.tableDivEditMle{
    max-height: 330px;
   /*  width: 870px; */
}
/* .tableDivEditMleConatiner{
    max-height: 375px;
    width: 870px;
}
 */
.evenRow{
	background-color:white;
}
.oddRow{
	background-color:#F7F6F3;
}
/* Soni_Begin_05/10/2012_forEdit OS table alignment is*/
.row1{width: 80px;}
.row2{width: 80px;}
.rowv{width: 140px;}
.row3{width: 80px;}
.row4{width: 80px;}
.rowr1{width: 100px;}
.rowr2{width: 120px;}
.rowr3{width: 170px;}
.rowr4{width: 130px;}
.rowr5{width: 100px;}
.rowr6{width: 65px;}
.rowr7{width: 90px;}

.manifestModuleTypeRow1{width: 144px;}
.manifestModuleTypeRow2{width: 160px;}
.manifestModuleTypeRow3{width: 115px;}
.manifestModuleTypeRow4{width: 65px;}
.manifestModuleTypeRow5{width: 65px;}
.manifestModuleTypeRow6{width: 75px;}

.manifestModuleTypeTableHeader{
    table-layout: fixed;
    text-align: center;
    width: 98%;
}
.manifestModuleTypeTableHeader thead{
/*    background-color: #6E3F4A;*/
    color: White;
    font-weight: bold;
}

.manifestModuleTypeTableContent{
    text-align: center;
    overflow: auto;
    max-height: 461px;
}
.manifestModuleTypeTableContent table{
    table-layout: fixed;
}
.manifestModuleTypeTableContent tr td{
    border: 1px solid #6E3F4A;
    empty-cells: show;
    word-wrap: break-word;
}

.row1 input,.row2 input,.row3 input,.row4 input,.rowr3 input{width: 94%;}

.errorMessage{
	color: red;
	float: left;
	font-size: small;
	margin-left: 4px;
}
.requiredField{
	color: red;
	float: left;
	font-size: small;
	margin-left: 4px;
}
.successMessage{
	color: green;
}
#messageSpace{
	margin: 10px;
}
.button{
	margin-right: 8px;
	font-size: 14px;
}

.dataTableMle{
	/*width: 550px;*/
	font-size: medium;
    font-weight: inherit;
    margin-left: 61px;
    color: black;
	
}
.singleDiv{
	height: 28px;
	margin-top: 10px;
}
.labelDiv{
	width: 150px;
	padding-right: 20px;
	float: left;
}
.labelDivgkv{
	width: 250px;
	padding-right: 20px;
	float: left;
}
.inputs{
	float: left;
}
.textInfo{
	font-weight: bold;
	font-size: small;
}

.manifestListClass{
	max-height: 200px;
	margin-top: 25px;
}
.disabledDiv{
	width: 90%;
	height: 529px;
	z-index: 2;
	position: absolute;
	opacity:0.6;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	text-align: center;
	background-image: url("../images/blankImage.jpg");
}

.uploadButton{
	float: left;
	margin-right: 4px;
}
.uploadForm{
	/* width: 487px; */
}
.subLabelDivgkv{
text-align: right;	
}
.subSingleDiv{
	font-size: small;
    margin-top: 2px;
    height: 25px;
}

.textBox_Border{
	border: 1px solid #7A5660;
	width: 300px;
	height: 20px;
}

#mleMessage{
	padding-top: 10px;
}


/*dialog classs*/

.ui-widget-content { border: 1px solid #dddddd; /*background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;*/ color: #333333; }
/*---------------------------------- Dialog----------------------------------*/
.ui-dialog { position: relative;  width: 300px; background-color: #522F37;}
.ui-dialog .ui-dialog-titlebar {height: 29px; padding: .5em .3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em;font-size: medium;font-weight: bold; color: white;} 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -16px 0 0 0; padding: 1px; height: 18px;padding: 0;font-size: large;color: black; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px;}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background-color: white; overflow: auto;}
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none;/* margin: .5em 0 0 0; */padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; /*padding: .2em .6em .3em .6em;*/ line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
/* Overlays */
.ui-widget-overlay { background: #666666 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*class for help dialog pcr div*/

.pcrDivHelp{
	margin-top: 10px;
}

.dialogClass{
	font-size: 13px;
}
.edit_textbox{
	border: 1px solid #7A5660;
}

#moduleTypeAttestationMez{
	font-size: 12px;
	color: black;
	margin-left: 40px;
	font-weight: bold;
	margin-top: 35px;
	margin-bottom: 5px;
}

#mainContainerForWhiteList{
    overflow: auto;
}

.whiteListSingleDiv{
    height: 10px;
    margin-top: 10px;
    width: 600px;
}

.registerUser{font-size: 12px;margin-bottom: 12px;}