<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" bean-discovery-mode="annotated">
    <!-- 
    References:
    http://docs.jboss.org/weld/reference/latest/en-US/html/ee.html#packaging
    http://docs.jboss.org/weld/reference/latest/en-US/html/configure.html
    -->
    <!--
    <scan>
        <exclude name="com.intel.mtwilson.**" />
    </scan>
    -->
</beans>